// // Fonts here
// @import "settings";
//
// // COMPASS
// @import "compass";
// // JEET! FRAMEWORK
// @import "jeet/index";


//@import "font-awesome";


// FONTS
// ==============================================================
@font-face {
	font-family: 'Asap';
	src: 	url('{$urlFonts}Asap-Medium.eot') format('eot');
	src: 	url('{$urlFonts}Asap-Medium.eot?#iefix') format('embedded-opentype'),
			url('{$urlFonts}Asap-Medium.woff') format('woff'),
			url('{$urlFonts}Asap-Medium.ttf') format('truetype'),
			url('{$urlFonts}Asap-Medium.svg#GothamBookRegular') format('svg');
}




@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900italic,900,700italic,700,600italic,400italic,600,400,300italic,300,200italic,200');
