// COMPASS
@import "compass";
// JEET! FRAMEWORK
@import "jeet/index";

@import "settings";

// FOOTER
// ==============================================================
footer{
  @include cf();
  background: #000000;
  display: table;
  width: 100%;
  .footer__top,
  .footer__bottom{
    padding: 70px;
  }
  .footer__contColumn {
    @extend %cf;
    width: 60%;
    margin: 0 auto;
  }
  .footer__top__col{
    @include col(1/3,0,3);
    text-align: center;
    h3{
      text-transform: uppercase;
      color: $secondary-color;
      font-family: $fontMain;
      font-size: 20px;
      padding: 10px 0;
    }
    li{
      p{
        color: #fff;
        &:hover{
          color: darken(#fff, 30%)
        }
      }
    }

  }
  .footer__bottom{
    .footer__logo{
      text-align: center;
      padding: 20px 0;
      h2{
        font-family: "Gotham-U", sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
      }
      span{
        font-family: "Gotham", sans-serif;
        color: #fff;
      }
    }

  }

  .copyright{
    text-align: center;
    color:#fff;
    a{
      color:#fff;
    }
  }
}
