////
/// Helpers
/// Useful stuff
////
/// The clearfix with after pseudo-element
%clear {
	&::after {
		content: '';
		clear: both;
		display: block;
	}
}

/// Media queries mixins
//@mixin mediaquery($value, $rule-width: 'min-width') {
@mixin mediaquery($value, $rule-width: 'min-width') {
	@media screen and (#{$rule-width}: $value) {
		@content;
	}
}

//@mixin mobile {
//@include mediaquery('992px', 'max-width') {
@mixin smartphone {
	@include mediaquery('767px', 'max-width') {
		@content;
	}
}

@mixin smartphone-landscape {
	@media screen and  (max-width: 640px){
		@content;
	}
}

@mixin smartphone-portrait {
	@media screen and (max-width : 380px) and (orientation: portrait){
		@content;
	}
}

@mixin generic-tablet {
	@media screen and (min-width: 480px) and (max-width: 1280px) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: 641px) and (max-width: 992px) {
		@content;
	}
}

@mixin generic-mobile {
	@include mediaquery('996px', 'max-width') {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 768px) and (max-width: 1440px) {
		@content;
	}
}

@mixin large-desktop {
	@include mediaquery('1440px', 'min-width') {
		@content;
	}
}

/// Font Face
/// @param {String} $font-family - The font family complete name
/// @param {String} $font-weight - The font weight
/// @param {String} $font-style - The font style
@mixin font-face($font-family, $font-weight, $font-style) {
	/// Create file name
	$font-slug-name: str-replace(to-lower-case($font-family), ' ', '-');
	$font-file-name: #{$font-slug-name}-#{$font-style}-#{$font-weight};
	@font-face {
		font-family: $font-family;
		src: url('../fonts/#{$font-slug-name}/#{$font-file-name}.eot');
		src: url('../fonts/#{$font-slug-name}/#{$font-file-name}.eot?#iefix') format('embedded-opentype'), //url('../fonts/#{$font-slug-name}/#{$font-file-name}.woff2') format('woff2'),
		url('../fonts/#{$font-slug-name}/#{$font-file-name}.woff') format('woff'),
		url('../fonts/#{$font-slug-name}/#{$font-file-name}.ttf') format('truetype'),
		url('../fonts/#{$font-slug-name}/#{$font-file-name}.svg?##{$font-slug-name}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}
