/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	/*display: none;*/
	position: relative;
	width: 100%;
	//height: 500px;
	margin-bottom: 10px;
	margin: 0 auto;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-stage{
	/*display: none;*/
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-stage-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	//height: 0;
  margin: 0 auto;
	z-index: 1;
	//padding-bottom: 36.24%
}
.owl-carousel .owl-stage-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.item{

}
.item .list_large_element{
	height: 95px;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	//position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0 !important;
	left: 0;
	//height: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 2;
}

.owl-nav{
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
}

.owl-prev, .owl-next{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
}

.owl-prev{
	left: 0;
}
.owl-next{
	right: 0;
}
.owl-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.owl-dot {
			background: transparent;
	    width: 10px;
	    height: 10px;
	    border-radius: 100%;
	    margin: 3px;
	    float: left;
	    border: 2px solid #fff;
}
.owl-dot.active {
    background: #fff;
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

@media (max-width: 667px){
	.item .list_large_element .list_large_element_thumb {
	    height: 66px;
	}
}
