/* settings here */
@import "variables";
@import "fonts";
@import "mediaqueries";


@mixin set-padding($vertical, $breakpoint){
      padding: $vertical ($breakpoint/100)*3;
}
@mixin set-margin($vertical, $breakpoint){
      margin: $vertical ($breakpoint/100)*3;
}

@function gutter($breakpoint, $perc) {
  @return ($breakpoint / 100) * $perc;
}



// BOX_SIZING: BORDER_BOX
// ==============================================================
*, *:before, *:after  {
    @include box-sizing(border-box);
}

// MIXIN
// ==============================================================



body{
  font-family: $fontMain;
  font-size: 14px;
  line-height: 1.4em;
	background: url('#{$urlImages}/body-bg.jpg') repeat-x center top;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

// EXTENDS
// ==============================================================

button[type="submit"] {
    -webkit-appearance: none;
		appearance: none;
    background-color: transparent;
    border: none;
    border: 0;
    cursor: pointer;
}

%button{
  border-radius: 50%;
  color: $primary-color;
  background: #000;
  padding: 10px;
  display: block;
  width: 200px;
  border-radius: 20px;
  font-weight: 500;
  &:hover{
    background: lighten(#ccc, 10%);
  }
}

.table {display:table;border-collapse:separate;border-spacing:5px;}
.row {display:table-row;}
.cell {display:table-cell;padding:5px}


.icon--play{
  background: url(../images/icon--play--studiare.svg) no-repeat center center;
  background-size: 100%;
  position: absolute;
  width: 10%;
  height: 0;
  min-width: 60px;
  min-height: 60px;
  top: 50%;
  left: 50%;
  padding-bottom: 10%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;
}

.icon--more{
  background: url(../images/arrow-more.svg) no-repeat center center;
  background-size: 30%;
  width: 100%;
  min-width: 70px;
  margin: 20% 0;
  min-height: 70px;
}



%cf {
	*zoom: 1;
	&:before, &:after {
    	content: "";
    	display: table;
  	}
  	&:after {
  		clear: both;
  	}
}
%block {
	display: block;
}
%fw {
    width: 100%;
}
%visible{
  visibility: visible;
  opacity: 1;
  transition: all ease .5s;
}
%fade{
  visibility: hidden;
  opacity: 0;
}
.hidden{
  display: none;
}
.last{
  margin: 0 !important;
  padding:0 !important;
}


input[type=text]{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: $fontMain;
  color: #8e8f8f;
  border: 2px solid #000;
  background-color: transparent;
}
picture{
  img{
    min-width: 100%;
  }
}

.post{
  position: relative;
  overflow: hidden;
  &:hover{
    picture{
      img{
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
  }
  picture{
    img{
      position: absolute;
      min-width: 110%;
      min-height: 110%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform ease-out .2s;
    }
  }
  .__description {
      position: absolute;
      right: 0;
      top: 0;
      width: 45%;
      height: 100%;
      background: rgba(0,0,0,.85);
      p{
        padding: gutter($breakpoint, 3);
        color: #fff;
        line-height: 1.8em;
      }
  }
}

label{
  font-size: 13px;
  position: relative;
  font-family: $fontMain;
  text-transform: uppercase;
  padding: 3px 5px 3px 10%;
  display: inline-block;
  text-align: right;
  z-index: 2;
}

.section-title{
  position: relative;
  margin: 60px 0 2%;
}



// UTILITY
// ==============================================================


html, body {
    color: #000;
    font-family: $fontMain;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
    background-color: transparent !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

img {
	max-width: 100%;
  height: auto;
	@extend %block;
  margin: 0 auto;
}

a {
    color: $secondary-color;
	text-decoration: none;
    outline: none !important;
}

input {
    outline: none;
    border: none;
    border-radius: 0;
}

input, textarea, button {
    &:focus {
        outline: none !important;
    }
}
strong{
  font-family: $fontMain, sans-serif;
	font-weight: bold;
}
i{
  font-style: italic;
}

blockquote{
	&:before, &:after{
		content: '"';
    font-size: 3em;
    color: #ccc;
    float: left;
	}
	p{
		float: left;
    padding: 0;
	}
}



// media queries
// ==============================================================
