/* variables here */

// VAR
// ==============================================================
$facebook:      #3B5998;
$twitter:       #00ACED;
$linkedin:      #007BB6;



$rosso: #e31a18; //rosso Acismom
$dark-grey: #454545;
$light-grey: #f3f3f3;
$c-fb: $facebook;
$c-tw: $twitter;


$primary-color: $rosso;

.primary-color{
	color:$primary-color
}

$secondary-color: $dark-grey;

.secondary-color{
	color:$secondary-color
}

$max-width: 1180px;

$breakpoint: 1180px;

// FONTS
// ==============================================================
$Asap:    'Asap', Arial sans-serif;
$fontMain: $Asap;


// URL IMAGES
// ==============================================================
$urlImages: "../images";
$urlFonts: '../fonts';
$urlFontAwesome: "../font-awesome";
