@import "compass";
@import "compass/reset";

@import "jeet/index";

@import "settings";
// HEADER
// ==============================================================







#wrapper {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}


.header{


  @include cf();
  h1{
		color: blue;
	}

}
